body {
  overflow: hidden;
}

.caveman-header {
  position: relative;
  top: 2px;
  color: #fff;
  text-align: center;
  font-size: 26px;
}

.caveman-header span {
  display: block;
}

.caveman-header .caveman-header-last {
  font-size: 20px;
}

.caveman-venue-list {
  position: relative;
  top: 10px;
  max-height: 550px;
  overflow: auto;
}

.venue-detail {
  position: relative;
  top: 20px;
  max-height: 700px;
  color: #fff;
}

.venue-detail div{
  margin-top: 10px;
}