body {
  overflow: hidden;
  background-color: #F1F1F1;
}

.caveman-header {
  position: relative;
  top: 2px;
  color: #fff;
  text-align: center;
  font-size: 26px;
}

.caveman-header span {
  display: block;
}

.caveman-header .caveman-header-last {
  font-size: 20px;
}

.caveman-venue-list {
  position: relative;
  top: 1px;
  max-height: 450px;
  overflow: auto;
}

.venue-detail {
  position: relative;
  top: 20px;
  max-height: 700px;
  color: #fff;
}

.venue-detail div{
  margin-top: 10px;
}

.pagination-container {
  color: #fff;
  position: relative;
  bottom: 5px;
}

.pagination-container .pagination {
  margin: 0 auto;
}
